<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2>Resume</h2>
      <h3>{{ site.title }}</h3>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a
        class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}"
        href="{{ site.baseurl }}"
        >Home</a
      >

      <a
        class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}"
        href="{{ site.baseurl }}/about"
        >About</a
      >

      {% assign format_files = site.static_files %} {% for format in
      format_files %}
      <a class="sidebar-nav-item" href="{{ format.path }}"
        >Download Resume (PDF)</a
      >
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.baseurl }}/formats/index.docx"
        >Download Resume (Word Document)</a
      >
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/formats/index.html"
        >Download Resume (HTML)</a
      >
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/formats/index.json"
        >Download Resume (JSON)</a
      >
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/formats/index.md"
        >Download Resume (Markdown)</a
      >
      <a class="sidebar-nav-item" href="">GitHub project</a>
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>
    <section>
      <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </section>
  </div>
</div>
